---
import GitHubIcon from "/assets/img/landing/github.svg";
import LinkedInIcon from "/assets/img/landing/linkedin.svg";
import EmailIcon from "/assets/img/landing/email.svg";

type SocialLink = {
  iconPath: string;
  alt: string;
  title: string;
  href: string;
};

const socialLinks: SocialLink[] = [
  {
    iconPath: GitHubIcon,
    alt: "github-icon",
    title: "github.com/SrUltraLord",
    href: "https://github.com/SrUltraLord",
  },
  {
    iconPath: LinkedInIcon,
    alt: "linkedin-icon",
    title: "/in/david-a-reyes-p",
    href: "https://www.linkedin.com/in/david-a-reyes-p/",
  },
  {
    iconPath: EmailIcon,
    alt: "email-icon",
    title: "davidrey8822@gmail.com",
    href: "mailto:davidrey8822@gmail.com",
  },
];
---

<div class="flex gap-4">
  {
    socialLinks.map(({ iconPath, title, href }) => (
      <a href={href} class="h-fit">
        <div class="flex h-fit flex-row items-center gap-2">
          <img
            class="h-8 w-8 transition text-accent-primary hover:scale-125 md:h-6 md:w-6"
            src={iconPath}
            alt={title}
          />

          <p class="hidden hover:font-bold hover:text-accent-primary hover:underline">
            {title}
          </p>
        </div>
      </a>
    ))
  }
</div>
