---
import Layout from "../layouts/Layout.astro";

import LandingHero from "../sections/LandingHero.astro";
import AboutMe from "../sections/AboutMe.astro";
import Button from "../components/shared/Button.astro";

import NavBar from "../components/NavBar.svelte";
---

<Layout title="David's Portfolio">
  <NavBar client:load>
    <Button variant="outline">Resume</Button>
  </NavBar>

  <LandingHero />

  <AboutMe />
</Layout>
