---
import avatarImageMobilePath from "/assets/img/landing/landing_mobile.svg";
import avatarImageDesktopPath from "/assets/img/landing/landing_desktop.svg";

import SocialLinks from "../components/landing/SocialLinks.astro";
---

<main
  id="landing"
  class="grid h-fit w-full place-items-center p-4 md:h-screen md:p-0"
>
  <!-- Landing Hero -->
  <div
    class="flex h-fit w-full flex-row justify-between space-x-8 rounded-md bg-slate-50 p-8 shadow-lg md:max-w-2xl lg:max-w-4xl"
  >
    <!-- Hero text -->
    <div class="flex w-full flex-col gap-3 md:w-3/5">
      <!-- Avatar Image (Mobile) -->
      <div class="flex w-full justify-center md:hidden">
        <img class="w-2/5" src={avatarImageMobilePath} />
      </div>

      <h1
        class="font-montserrat-bold text-5xl font-extrabold text-accent-primary sm:text-4xl md:text-5xl"
      >
        David Reyes
      </h1>

      <h2
        class="font-iosevka text-3xl font-bold text-foreground-primary sm:text-3xl md:text-4xl"
      >
        A <span class="text-accent-primary">passionate</span> fullstack web developer
      </h2>

      <p class="font-libre-franklin text-lg text-foreground-primary md:text-xl">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <span class="flex-1"></span>

      <SocialLinks />
    </div>

    <!-- Landing Image (Desktop) -->
    <div class="hidden md:block md:w-2/5">
      <img class="h-full" src={avatarImageDesktopPath} />
    </div>
  </div>
</main>
